{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx"
      //   {
      //     "throwIfNamespace": false,
      //     "runtime": "classic",
      //     "importSource": "custom-jsx-library"
      //   }
    ]
  ]
}
